.banner {
    /* @apply bg-bgBanner w-full h-[100%]; */
    background-color: #0e1713;
    width: '100%';

    @media (max-width: 1024px) {
        height: 70svh !important;
    }

    @media (max-width: 600px) {
        height: 95svh !important;
        .video-banner {
            top: 180px !important;
            right: 100px !important;
            width: 60% !important;
        }
    }
}
