@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.h1 {
    font-weight: 700;
    font-size: 52px;
    @media (max-width: 764px) {
        font-size: 30px;
        display: flex;
        gap: 6px;
    }
    @media (max-width: 642px) {
        font-size: 26px;
    }
}

.h2 {
    @media (max-width: 764px) {
        font-size: 20px !important;
    }
}

.h4 {
    @media (max-width: 720px) {
        font-size: 16px !important;
    }
}

.h3 {
    @apply text-[22px] font-[700] text-[#727272];
}

.body1 {
    @apply text-[16px] text-[#95A7AC];
}

/* .textLinear {
    @apply bg-[linear-gradient(275deg, #58FF96 -11.3%, #00A178 101.19%)] 
} */

.container {
    @apply max-w-[1280px] mx-auto;
}

.box-comunity {
    @apply bg-[#333333] hover:bg-[linear-gradient(275deg,_#5BF193_4.05%,_#00A178_50.05%,_#015640_100%)];
}
.button-gardient {
    @apply bg-[linear-gradient(275deg,_#5BF193_4.05%,_#00A178_50.05%,_#015640_100%)] border-[#04B885] rounded-[22px] text-white p-[9px] px-[20px] hover:bg-[linear-gradient(99deg,_#0AE16B_0%,_#69F59D_70.15%,_#40FF96_100%)];
}

.grid-view-2 {
    @apply grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3 lg:gap-14 md:gap-8;
}

.grid-view-1 {
    @apply grid grid-cols-1  sm:grid-cols-1 lg:grid-cols-2;
}

.banner-och {
    @apply grid   sm:grid-cols-1 lg:grid-cols-2  lg:px-[88px] lg:py-[72px] sm:px-[20px] sm:py-[20px];
}

.container-networks-tokens {
    // @apply lg:gap-[30px]  sm:gap-[5px];
    .item1 {
        width: 56%;
    }
    .item2 {
        width: 40%;
    }
    @media (max-width: 1028px) {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        .container-networks-tokens-2 {
            width: 80%;
            .item1 {
                width: 100%;
            }
            .item2 {
                margin-top: 20px;
                width: 100%;
                .text-1 {
                    text-align: center;
                }
                .text-2 {
                    text-align: center;
                }
            }
        }
    }
    @media (max-width: 730px) {
        .container-networks-tokens-2 {
            width: 100% !important;
        }
    }
}

.view-container {
    .bg-image {
        @media (max-width: 960px) {
            background-size: 100% 55% !important;
        }
    }
}
.sub-banner {
    // @apply grid sm:grid-cols-1 lg:grid-cols-2 w-[100%];
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 960px) {
        // margin-bottom: 80px;
        // padding-top: 15px;
        grid-template-columns: 1fr;
        margin-bottom: 55px;
        .item1 {
            // position: absolute;
            margin-top: 90px;
            width: 100% !important;
            order: 2;
            display: flex;
            justify-content: center;
            // background-color: red;
            .trusted {
                width: 80% !important;
                padding-right: 0px !important;
            }
        }
        .item2 {
            position: absolute;
            top: -70px;
            width: 100% !important;
            // padding-right: 16px;
            order: 1;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            .toltal-value {
                width: 80% !important;
                // background-color: #f5fffb;
                .box1 {
                    padding: 18px 10px !important;
                }
                .box2 {
                    padding: 18px 10px !important;
                    .title-box-2 {
                        // color: #0e1713 !important;
                    }
                }
            }
        }
    }
    @media (max-width: 600px) {
        .item2 {
            position: absolute;
            top: -50px;
        }
    }
}

.ecosystem {
    .grid-text-2 {
        @media (max-width: 600px) {
            width: 100%;
            text-align: center !important;
        }
    }
    .grid-view-ecosystem {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
    @media (max-width: 959px) {
        .grid-view-ecosystem {
            grid-template-columns: repeat(2, 1fr);
        }
        .box-ecosystem:nth-child(3) {
            grid-column: span 2;
            justify-self: center;
            margin: 0 auto;
            width: calc(50% - 8px);
        }
    }
    @media (max-width: 665px) {
        .grid-view-ecosystem {
            grid-template-columns: 1fr !important;
        }
        .box-ecosystem {
            width: 100% !important;
        }
        .box-ecosystem:nth-child(3) {
            grid-column: unset !important;
        }
    }
}

.asset-flow {
    .grid-view-1 {
        .text-ls {
            text-align: justify;
        }
        .text-mm {
            text-align: justify;
        }

        @media (max-width: 1028px) {
            .grid-right {
                width: 100% !important;
                display: flex;
                justify-content: center;
                .grid-right-2 {
                    width: 80%;
                    height: auto;
                }
            }
            .grid-left {
                width: 100% !important;
                display: flex;
                justify-content: center;
                .grid-left-2 {
                    width: 80%;
                    height: auto;
                }
            }
            .liquid-staking {
                // width: 100% !important;
                text-align: center;
                .text-ls {
                    // max-width: 600px !important;
                    width: 600px !important;
                }
            }
            .money-market {
                // width: 100% !important;
                text-align: center;
                .text-mm {
                    // max-width: 600px !important;
                    width: 600px !important;
                }
            }
            .learn {
                display: flex;
                justify-content: center;
            }
        }
        @media (max-width: 600px) {
            .grid-right-2 {
                width: 100% !important;
            }
            .grid-left-2 {
                width: 100% !important;
            }
        }
    }
}

.contact-us {
    .container-contactus {
        @media (max-width: 650px) {
            .text-contact {
                text-align: center;
                .send-email {
                    width: 100% !important;
                    display: flex;
                    justify-content: center;
                }
            }
            .img_email {
                display: none !important;
            }
        }
    }
}

.link-hover {
    @apply hover:text-[#69F59D] !important;
}

@media (max-width: 660px) {
    .banner-och {
        padding: 10px 10px;
    }
}

@media (max-width: 1060px) {
    .banner-och {
        @apply grid-cols-1 flex justify-center;
    }
}

@import url(./banner.scss);
